Repository darioblanco/fastapi-example, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

add manual deployment trigger
  .github/workflows/deployment.yaml
  README.md
Labels: ci, docs, yaml

configure a different database for testing
  .envrc.example
  .github/workflows/python.yaml
  Makefile
  README.md
  app/db.py
  container/dbscripts/postgres-bootstrap.sql
  container/docker-compose.yml
  tests/conftest.py
Labels: build, ci, docs, test, yaml

chore: skip init when environment is a CI
  Makefile
Labels: build

install poetry
  .github/workflows/python.yaml
  Makefile
Labels: build, ci, yaml

set python version
  .github/workflows/python.yaml
Labels: ci, yaml

chore: add poetry in front of all commands
  Makefile
Labels: build

run with make test
  .github/workflows/python.yaml
Labels: ci, yaml

docs: update python badge
  README.md
Labels: docs

docs: update README
  README.md
Labels: docs

chore: add conventional commits pre-hook
  .pre-commit-config.yaml
Labels: style, yaml

chore: reorder pre commit config
  .pre-commit-config.yaml
Labels: style, yaml

chore: add step to install Makefile
  Makefile
Labels: build

chore: set conventional commit check at the end
  .pre-commit-config.yaml
Labels: style, yaml

chore: remove redundant command
  Makefile
Labels: build

chore: autoformat only at commit time
  .pre-commit-config.yaml
Labels: style, yaml

ci: add container pipeline
  .github/workflows/container.yaml
  .github/workflows/test.yaml
  README.md
Labels: ci, docs, yaml

build: add github label to container
  .github/workflows/test.yaml
  container/Containerfile
Labels: ci, yaml

ci: fix test ci trigger
  .github/workflows/test.yaml
Labels: ci, yaml

docs: fix README
  README.md
Labels: docs

refactor: rename Makefile entry points
  Makefile
  README.md
  app/space_agencies/models.py
  container/docker-compose.yml
Labels: build, docs, yaml

ci: add kustomize deployment
  .gitignore
  README.md
  deploy/README.md
  deploy/base/configmap.yaml
  deploy/base/deployment.yaml
  deploy/base/kustomization.yaml
  deploy/base/secret.yaml
  deploy/base/service.yaml
  deploy/production/kustomization.yaml
  deploy/staging/kustomization.yaml
  deploy/staging/postgres-deployment.yaml
  deploy/staging/postgres-service.yaml
Labels: docs, yaml

ci: specify deployment namespace
  deploy/base/kustomization.yaml
Labels: yaml

fix: set namespace in kustomization
  deploy/base/kustomization.yaml
  deploy/production/kustomization.yaml
  deploy/staging/kustomization.yaml
Labels: yaml

docs: generate sphinx documentation
  Makefile
  README.md
  docs/Makefile
  docs/app.rst
  docs/conf.py
  docs/index.rst
  docs/make.bat
  poetry.lock
  pyproject.toml
Labels: build, deps, docs

ci: add docs CI pipeline
  .github/workflows/docs.yaml
Labels: ci, yaml

ci: fix docs CI pipeline
  .github/workflows/docs.yaml
Labels: ci, yaml

docs: update Documentation bc3223d505058ccc421cbcabd282097b77ac4e82
  .buildinfo
  .doctrees/app.doctree
  .doctrees/environment.pickle
  .doctrees/index.doctree
  .nojekyll
  _sources/app.rst.txt
  _sources/index.rst.txt
  _static/alabaster.css
  _static/basic.css
  _static/custom.css
  _static/doctools.js
  _static/documentation_options.js
  _static/file.png
  _static/language_data.js
  _static/minus.png
  _static/plus.png
  _static/pygments.css
  _static/searchtools.js
  _static/sphinx_highlight.js
  app.html
  genindex.html
  index.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
Labels: none

docs: explain how docs are generated
  README.md
Labels: docs

ci: set names in lowercase for CI pipelines
  .github/workflows/container.yaml
  .github/workflows/deployment.yaml
  .github/workflows/docs.yaml
  .github/workflows/json.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/yaml.yaml
  README.md
Labels: ci, docs, yaml

ci: add shellcheck ci
  .github/workflows/shell.yaml
Labels: ci, yaml

chore: add host to ingress
  deploy/base/ingress.yaml
Labels: yaml

ci: encrypt deployment secrets
  .envrc.example
  .github/workflows/validate.yaml
  .gitignore
  .sops.yaml
  Makefile
  README.md
  deploy/base/kustomization.yaml
  deploy/base/secret.yaml
  deploy/production/kustomization.yaml
  deploy/production/secret.enc.yaml
  deploy/staging/kustomization.yaml
  deploy/staging/postgres-deployment.yaml
  deploy/staging/secret.enc.yaml
  scripts/decrypt.sh
  scripts/encrypt.sh
  scripts/utils.sh
  scripts/validate.sh
Labels: build, ci, docs, shell, yaml

ci: set secret as stringData
  deploy/production/secret.enc.yaml
  deploy/staging/secret.enc.yaml
Labels: yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "pyproject.toml"
ci:
  - ".github/workflows/*"
deps:
  - "poetry.lock"
  - "renovate.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".pre-commit-config.yaml"
  - ".pre-commit-hook.sh"
test:
  - "**/test_*.py"
  - "**/tests/*"
  - "**/tests/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"
