Repository darioblanco/fastapi-example, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

fix: fix valueFrom entry
  deploy/staging/postgres-deployment.yaml
Labels: yaml

ci: define 1 replica by default
  deploy/base/deployment.yaml
Labels: yaml

ci: patch staging deployment
  deploy/staging/kustomization.yaml
  deploy/staging/patch-deployment.yaml
Labels: yaml

ci: fix deployment resources in staging
  deploy/base/deployment.yaml
  deploy/staging/kustomization.yaml
  deploy/staging/patch-deployment.yaml
  deploy/staging/postgres-deployment.yaml
Labels: yaml

fix: add image pull secrets
  .gitignore
  deploy/base/deployment.yaml
Labels: yaml

fix: add docker secret
  deploy/base/deployment.yaml
  deploy/staging/docker-secret.enc.yaml
  deploy/staging/kustomization.yaml
  deploy/staging/patch-deployment.yaml
Labels: yaml

fix: use secret with github packages read only
  deploy/staging/docker-secret.enc.yaml
Labels: yaml

docs: add README for docker registry credentials
  README.md
Labels: docs

chore: avoid using tput
  scripts/utils.sh
Labels: shell

chore: optimize container for uvicorn and python
  Makefile
  container/Containerfile
  container/docker-compose.yml
  container/entrypoint.sh
Labels: build, shell, yaml

ci: fix port to 8080
  .github/workflows/shell.yaml
  deploy/base/service.yaml
  scripts/utils.sh
Labels: ci, shell, yaml

ci: add alembic uri secret
  deploy/staging/secret.enc.yaml
  migrations/env.py
Labels: yaml

chore: set up dev environment to deploy app to kind
  deploy/dev/docker-secret.enc.yaml
  deploy/dev/kustomization.yaml
  deploy/dev/patch-deployment.yaml
  deploy/dev/postgres-deployment.yaml
  deploy/dev/postgres-service.yaml
  deploy/dev/secret.enc.yaml
  deploy/staging/kustomization.yaml
Labels: yaml

chore: add ingress classname
  deploy/base/ingress.yaml
Labels: yaml

fix: update container workflow
  .github/workflows/container.yaml
Labels: ci, yaml

fix: fix readiness file
  app/main.py
Labels: none

docs: update Documentation 8214f0baf91fd3f50adf1407db7d939273853b31
  .doctrees/environment.pickle
Labels: none

ci: set flux image tag template
  deploy/base/deployment.yaml
Labels: yaml

ci: define specific tag so it can be updated by flux later
  deploy/base/deployment.yaml
Labels: yaml

ci: define tags in dev kustomization
  deploy/base/deployment.yaml
  deploy/dev/kustomization.yaml
Labels: yaml

chore: automated image update
  deploy/dev/kustomization.yaml
Labels: yaml

chore: fix readiness file
  app/main.py
  deploy/base/deployment.yaml
  tests/test_main.py
Labels: test, yaml

docs: update Documentation 46dae48106650810f3d622f7e6f9640e56977d2c
  .doctrees/environment.pickle
Labels: none

chore: automated image update
  deploy/dev/kustomization.yaml
Labels: yaml

chore: fix service selectors
  deploy/base/service.yaml
  deploy/dev/kustomization.yaml
  deploy/dev/patch-deployment.yaml
  deploy/dev/patch-service.yaml
Labels: yaml

chore: add metadata label
  deploy/dev/patch-deployment.yaml
Labels: yaml

chore: set commonLabels from kustomize
  deploy/base/kustomization.yaml
  deploy/base/service.yaml
  deploy/dev/kustomization.yaml
  deploy/dev/patch-deployment.yaml
  deploy/dev/patch-service.yaml
Labels: yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "pyproject.toml"
ci:
  - ".github/workflows/*"
deps:
  - "poetry.lock"
  - "renovate.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".pre-commit-config.yaml"
  - "./scripts/pre-commit-hook.sh"
  - "./scripts/validate.sh"
test:
  - "**/test_*.py"
  - "**/tests/*"
  - "**/tests/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"
